@model IEnumerable<CFCprototype.Models.MembersClassifieds>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassifiedTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassifiedBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDuration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClassifiedTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassifiedBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDuration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MembersClassifiedsID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MembersClassifiedsID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MembersClassifiedsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
